p{
  color: #393E46;
}
html, body{
  background-color: #111;
  margin: 0;
  height: 100%;
  width: 100;
}
.wrapper{
  width: 95%;
  height: 70%;
  margin: auto;
  margin-bottom: 30%;
}
.top-container {
  background-color: #111;
  display: inline-block;
  vertical-align: top;
  margin-top: 20%;
}
.top-side-container{
  margin: 10% auto auto auto;
  float: right;
  width: 45%;
  height: 100%;
  vertical-align: top;
}
h1.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  font-size: 4.2em;
  margin-bottom: 1%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  font-size: 1.5em;
  margin: 0 auto 1% 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top1{
  color: #fff;
  margin: 0 auto 1% 5%;
}
.top2{
  color: #fff;
  margin: 0 auto 1% 7%;
}
.top3{
  color: #fff;
  margin: 0 auto auto 18%;
}
.top-img{
  border-radius: 5%;
  max-width: 100%;
  height: 100%;
  margin: auto;
}
.middle-container{
  background-color: #191919;
  margin: auto;
  border-radius: 5%;
  width: 75%;
}
h3.middle{
  color: #C8C6C6;
  font-size: 3.2em;
  text-align: center;
}
