p{
  color: #393E46;
}
body{
  background-color: #111;
  margin: 0;
}
.top-container {
  background-color: #111;
  height: 500px;
  display: inline-block;
}
h1.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  margin-top: 0;
  padding-top: 200px;
  padding-left: 20px;
  font-size: 4.2em;
  margin-bottom: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  padding-left: 45px;
  font-size: 1.5em;
  margin-top: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top1{
  color: #fff;
  padding-left: 40px;
  margin-bottom: 5px;
}
.top2{
  color: #fff;
  padding-left: 47px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.top3{
  color: #fff;
  padding-left: 90px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.middle-container{
  background-color: #191919;
  margin: auto;
  border-radius: 25px;
  height: 500px;
  width: 75%;
  align-self: center;
}
h3.middle{
  color: #C8C6C6;
  font-size: 3.2em;
  text-align: center;
}
