p{
  color: #393E46;
}
html, body{
  background-color: #111;
}
.sec{
  overflow: hidden;
  position: relative;
  display: block;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
.top-container {
  background-color: #111;
  display: block;
  margin: auto auto 19% 0;
  opacity: 1;
  max-width: 100%;
  min-width: 0;
}
.top-side-container{
  margin: 8% 0 10% auto;
  display: block;
  max-width: 50%;
  min-width: 0;
  max-height: 100%;
  opacity: 1;
}
h1.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  font-size: 4.2em;
  margin-bottom: 1%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
p.top{
  color: #fff;
  background-image: linear-gradient(to right,#a0e9ff,#a162e8,#f093b0,#edca85);
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto 1% 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
.top1{
  color: #fff;
  margin: 0 auto 1% 5%;
  text-align: center;
  display: block;
}
.top-img{
  border-radius: 5%;
  width: 100%;
  margin: auto;
}
.middle-container{
  background-color: #191919;
  margin: 10%;
  border-radius: 5%;
  max-width: 75%;
  min-height: 0;
}
.middle{
  color: #C8C6C6;
  font-size: 3.2em;
  text-align: center;
}
